In [22]:
import pandas as pd

In [23]:
df=pd.read_csv("heart-disease.csv")

In [24]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [26]:
#to check whether the dataset has null values or not.
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [30]:
x=df.iloc[:,:-1] #attribute starting col and ending col exclude last
y=df.iloc[:,13] #target only ending col

In [31]:
#Training and testing data

from sklearn.model_selection import train_test_split #it will split it 
x_train,x_test,y_train, y_test=train_test_split(x,y,test_size=0.2)

In [37]:
from sklearn import tree
classifier=tree.DecisionTreeClassifier()
classifier.fit(x_train,y_train)
pred=classifier.predict(x_test)
x_pred=classifier.predict(x_train)

In [39]:
print("Train Score:",classifier.score(x_train,y_train))
print("Test Score:",classifier.score(x_test,y_test))

Train Score: 1.0
Test Score: 0.7049180327868853

In [43]:
x=df.iloc[:,:-1] #attribute starting col and ending col exclude last
y=df.iloc[:,13] #target only ending col

#Training and testing data

from sklearn.model_selection import train_test_split #it will split it 
x_train,x_test,y_train, y_test=train_test_split(x,y,test_size=0.2)
from sklearn.neighbors import KNeighborsClassifier
Knn=KNeighborsClassifier()
Knn.fit(x_train,y_train)

KNeighborsClassifier()

In [44]:
print("Train Score:",Knn.score(x_train,y_train))
print("Test score:",Knn.score(x_test,y_test))

Train Score: 0.7603305785123967
Test score: 0.6885245901639344