In [1]:
print("hello")

hello

#Heading1

##trying

##HH

##Hello

# PANDAS

In [4]:
a=int(input("Enter a number"))
b=int(input("Enter another number"))
a=a+b
print(a)

Enter a number45
Enter another number78
123

In [5]:
for i in range (0,5):
    print("*"*i)

*
**
***
****

#Area of Shapes

In [6]:
x=int(input("Enter value for x:"))
y=int(input("Enter value for y:"))
if x>y:
    print("x is greater than y")
elif x<y:
    print("y is greater than x")
else:
    print("Both are same in value")

Enter value for x:34
Enter value for y:67
y is greater than x

#area of shapes

In [8]:
t=int(input("Enter the height of a the triangle"))
b1=int(input("Enter the base of a triangle"))
c=int(input("Enter the radius of a circle"))
s=int(input("Enter the side of a square"))
l=int(input("Enter the length of a rectangle"))
b=int(input("Enter the breath of a rectangle"))

print("area of triangle=",.5*b1*t)
print("area of circle=",(22/7)*c**2)
print("area of squrare=",s**2)
print("area of rectangle=",l*b)

Enter the height of a the triangle34
Enter the base of a triangle56
Enter the radius of a circle34
Enter the side of a square67
Enter the length of a rectangle89
Enter the breath of a rectangle6534
area of triangle= 952.0
area of circle= 3633.142857142857
area of squrare= 4489
area of rectangle= 581526

#simple interest

# Simple Interest

In [9]:
p=int(input("Enter the int principle balance"))
t=int(input("Enter the time in years"))
r=int(input("Enter the rate of interest"))
a=p*(1+(r*t))

print("The amount in comping years=",a)

Enter the int principle balance1000
Enter the time in years5
Enter the rate of interest12
The amount in comping years= 61000

## HEAD

#now

now

In [10]:
import random
r1=random.randint(0,6)
print(r1)

3

In [11]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
import pandas as pd
color=pd.Series(["Blue","Pink","Black"])
color

0     Blue
1     Pink
2    Black
dtype: object

In [14]:
import pandas as pd
color=pd.Series(["Blue","Yellow","Orange","Purple"])

In [15]:
color

0      Blue
1    Yellow
2    Orange
3    Purple
dtype: object

# to change index

In [18]:
import pandas as pd
a=["1","2","3","4"]
color=pd.Series(["Red","Yellow","Purple","Green"],index=a)
color

1       Red
2    Yellow
3    Purple
4     Green
dtype: object

In [19]:
color[0]

'Red'

In [24]:
color[0:2]

1       Red
2    Yellow
dtype: object

In [29]:
import pandas as pd
v={"Vehicles":["Car","Bus","Truck","Hatchbag","Sedan"],"colors":["black","blue","brown","green","yellow"]}
dff=pd.DataFrame(v)
dff

   Vehicles  colors
0       Car   black
1       Bus    blue
2     Truck   brown
3  Hatchbag   green
4     Sedan  yellow

# Data frames

2d data

In [27]:
data={"color":["blue","red","pink"],"transprt":["Car","Bike","Bus"]}
df=pd.DataFrame(data)
df

  color transprt
0  blue      Car
1   red     Bike
2  pink      Bus