In [20]:
import pandas as pd

In [21]:
df=pd.read_csv("Salary_Data.csv")

In [22]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [23]:
df.shape #to konw total no of attributes and data

(30, 2)

In [24]:
#splitting feature set and target set
x=df["YearsExperience"]
y=df["Salary"] #target set

In [25]:
x.shape

(30,)

In [26]:
x=pd.DataFrame(x)
x.shape

(30, 1)

In [27]:
df.shape

(30, 2)

In [28]:
#Training and testing data
from sklearn.model_selection import train_test_split #it will split it 
x_train,x_test,y_train, y_test=train_test_split(x,y,test_size=0.25)

In [29]:
x_train

    YearsExperience
7               3.2
1               1.3
22              7.9
12              4.0
15              4.9
21              7.1
24              8.7
20              6.8
11              4.0
2               1.5
0               1.1
18              5.9
9               3.7
10              3.9
26              9.5
16              5.1
23              8.2
27              9.6
5               2.9
13              4.1
6               3.0
29             10.5

In [30]:
y_train

7      54445.0
1      46205.0
22    101302.0
12     56957.0
15     67938.0
21     98273.0
24    109431.0
20     91738.0
11     55794.0
2      37731.0
0      39343.0
18     81363.0
9      57189.0
10     63218.0
26    116969.0
16     66029.0
23    113812.0
27    112635.0
5      56642.0
13     57081.0
6      60150.0
29    121872.0
Name: Salary, dtype: float64

In [31]:
#Training and Testing Dataset Reg model
from sklearn.model_selection import train_test_split #it will split it 
x_train,x_test,y_train, y_test=train_test_split(x,y,test_size=0.25)

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
regressor=LinearRegression()

In [34]:
regressor.fit(x_train,y_train)
pred=regressor.predict(x_test)
x_pred=regressor.predict(x_train)
regressor.score(x_test,y_test)

0.9388701004254733